$main-color : #0D47A1;

@mixin button-style {
    background-color: $main-color;
    font-family: MontserBold;
    padding: 1vh 8vw;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 0;
}
